$body-bg:#f4f4f4;
$body-color: #111;
$primary: #416CA6;

$font-sizes: (
  1: $h1-font-size * 3.5,
  2: $h2-font-size,
  3: $h3-font-size,
  4: $h4-font-size,
  5: $h5-font-size,
  6: $h6-font-size
);

@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/bootstrap/scss/utilities";
